
<script src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.vide.min.js"></script>
<script src="{{site.baseurl}}/assets/js/custom.js"></script>
<!-- End Javascript -->

<!-- INICIO JS TESTE -->
<!-- JS Global Compulsory -->
<script src="{{site.baseurl}}/dist/js/jquery.js"></script>
<script src="{{site.baseurl}}/dist/js/jquery-migrate.js"></script>
<script src="{{site.baseurl}}/dist/js/bootstrap.js"></script>

<!-- JS Implementing Plugins -->
<script src="{{site.baseurl}}/dist/js/smoothScroll.js"></script>
<script src="{{site.baseurl}}/dist/js/jquery.easing.min.js"></script>
<script src="{{site.baseurl}}/dist/js/pace.min.js"></script>
<script src="{{site.baseurl}}/dist/js/owl.carousel.js"></script>
<script src="{{site.baseurl}}/dist/js/jquery.form.min.js"></script>
<script src="{{site.baseurl}}/dist/js/jquery.validate.min.js"></script>
<script src="{{site.baseurl}}/dist/js/jquery.cubeportfolio.js"></script>
<script src="{{site.baseurl}}/dist/js/modernizr.js"></script>
<script src="{{site.baseurl}}/dist/js/jquery.backstretch.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script><script src="assets/js/plugins/gmaps-ini.js"></script>

<!-- JS Page Level-->
<script src="{{site.baseurl}}/dist/js/one.app.js"></script>
<script src="{{site.baseurl}}/dist/js/pace-loader.js"></script>
<script src="{{site.baseurl}}/dist/js/owl-carousel2.js"></script>
<script src="{{site.baseurl}}/dist/js/cube-portfolio-lightbox.js"></script>
<script src="{{site.baseurl}}/dist/js/promo.js"></script>
<script src="{{site.baseurl}}/dist/js/contact.js"></script>
<script>
  $(function() {
    App.init();
    OwlCarousel.initOwlCarousel();
    ContactForm.initContactForm();
  });
</script>

<!-- FINAL JS TESTE-->
